name: Testing

on: [push]

jobs:
  prepare:
    runs-on: ubuntu-latest
    container: 
      image: docker
    steps:
      - name: Clone simple-meteor-chat
        uses: actions/checkout@v2
        with:
          repository: 'tanutapi/simple-meteor-chat'
      - run: docker-compose up
    
  test:

    runs-on: ubuntu-latest

    container:
      image:  google/dart:latest

    steps:
    - uses: actions/checkout@v1
    - name: Install dependencies
      run: pub get
    - name: Run tests
      run: pub run test
